@use "../../scss/" as *;

.Header {
  height: $height-header;
  background-color: $color-black-2;
  width: 100vw;
  border-bottom: 1px solid $color-black-3;
  @include flex(center, space-between, row);
  padding: 0 $space-12;
  &_logo {
    @include flex(center, center);
    cursor: pointer;
    h2 {
      @include text(1);
      font-size: $size-24;
      font-weight: $font-bold;
      color: $color-primary;
    }
  }

  &_right {
    &_info {
      cursor: pointer;
      @include flex(center, center, row);
      gap: $space-12;

      img {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        object-fit: cover;
      }
      button {
        cursor: pointer;
        i {
          font-size: $size-20;
          color: $color-white-1;
        }
      }
    }
    &_auth {
      @include flex(center, center, row);
      gap: $space-12;

      button {
        @include flex(center, center);
        padding: $space-8;
        font-size: $size-16;
        color: $color-white-1;
        border-radius: $radius-10;
        border: 1.4px solid $color-white-1;
        cursor: pointer;
        &:hover {
          background-color: $color-black-1;
        }
      }
    }
  }
}
