$mobile-width: 700px;
$tablet-width: 1250px;

$space-2: 2px;
$space-4: 4px;
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-32: 32px;
$space-36: 36px;

$font-bold: 900;
$font-medium: 500;
$font-light: 400;

$size-8: 8px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-30: 30px;
$size-34: 34px;
$size-36: 36px;
$size-40: 40px;

$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-25: 25px;